@font-face {
  font-family: 'ignitor';
  src: url('../font/ignitor.eot?79506129');
  src: url('../font/ignitor.eot?79506129#iefix') format('embedded-opentype'),
       url('../font/ignitor.woff2?79506129') format('woff2'),
       url('../font/ignitor.woff?79506129') format('woff'),
       url('../font/ignitor.ttf?79506129') format('truetype'),
       url('../font/ignitor.svg?79506129#ignitor') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ignitor';
    src: url('../font/ignitor.svg?79506129#ignitor') format('svg');
  }
}
*/
 
 [class^="ignitor-"]:before, [class*=" ignitor-"]:before {
  font-family: "ignitor";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ignitor-emo-happy:before { content: '\e800'; } /* '' */
.ignitor-emo-left:before { content: '\e801'; } /* '' */
.ignitor-emo-unhappy:before { content: '\e802'; } /* '' */
.ignitor-emo-sleep:before { content: '\e803'; } /* '' */
.ignitor-emo-devil:before { content: '\e805'; } /* '' */
.ignitor-emo-surprised:before { content: '\e806'; } /* '' */
.ignitor-emo-tongue:before { content: '\e807'; } /* '' */
.ignitor-emo-sunglasses:before { content: '\e809'; } /* '' */
.ignitor-emo-displeased:before { content: '\e80a'; } /* '' */
.ignitor-emo-grin:before { content: '\e80c'; } /* '' */
.ignitor-emo-angry:before { content: '\e80d'; } /* '' */
.ignitor-emo-saint:before { content: '\e80e'; } /* '' */
.ignitor-emo-cry:before { content: '\e80f'; } /* '' */
.ignitor-emo-squint:before { content: '\e811'; } /* '' */
.ignitor-emo-laugh:before { content: '\e812'; } /* '' */
.ignitor-emo-right:before { content: '\e813'; } /* '' */
.ignitor-user:before { content: '\e814'; } /* '' */
.ignitor-users:before { content: '\e815'; } /* '' */
.ignitor-user-add:before { content: '\e816'; } /* '' */
.ignitor-star:before { content: '\e817'; } /* '' */
.ignitor-star-empty:before { content: '\e818'; } /* '' */
.ignitor-heart:before { content: '\e819'; } /* '' */
.ignitor-heart-empty:before { content: '\e81a'; } /* '' */
.ignitor-mail:before { content: '\e81b'; } /* '' */
.ignitor-flashlight:before { content: '\e81c'; } /* '' */
.ignitor-search:before { content: '\e81d'; } /* '' */
.ignitor-cancel-circled:before { content: '\e81e'; } /* '' */
.ignitor-cancel-squared:before { content: '\e81f'; } /* '' */
.ignitor-plus:before { content: '\e820'; } /* '' */
.ignitor-plus-circled:before { content: '\e821'; } /* '' */
.ignitor-plus-squared:before { content: '\e822'; } /* '' */
.ignitor-minus:before { content: '\e823'; } /* '' */
.ignitor-minus-circled:before { content: '\e824'; } /* '' */
.ignitor-minus-squared:before { content: '\e825'; } /* '' */
.ignitor-info-circled:before { content: '\e826'; } /* '' */
.ignitor-info:before { content: '\e827'; } /* '' */
.ignitor-home:before { content: '\e828'; } /* '' */
.ignitor-link:before { content: '\e829'; } /* '' */
.ignitor-attach:before { content: '\e82a'; } /* '' */
.ignitor-video:before { content: '\e82b'; } /* '' */
.ignitor-layout:before { content: '\e82c'; } /* '' */
.ignitor-menu:before { content: '\e82d'; } /* '' */
.ignitor-check:before { content: '\e82e'; } /* '' */
.ignitor-cancel:before { content: '\e82f'; } /* '' */
.ignitor-spin:before { content: '\e830'; } /* '' */
.ignitor-spin-multiple:before { content: '\e831'; } /* '' */
.ignitor-recycle:before { content: '\e832'; } /* '' */
.ignitor-eye:before { content: '\e833'; } /* '' */
.ignitor-spin-double:before { content: '\e834'; } /* '' */
.ignitor-lock-open:before { content: '\e835'; } /* '' */
.ignitor-lock:before { content: '\e836'; } /* '' */
.ignitor-tag:before { content: '\e837'; } /* '' */
.ignitor-loader:before { content: '\e838'; } /* '' */
.ignitor-loader-single:before { content: '\e839'; } /* '' */
.ignitor-thick-right:before { content: '\e83a'; } /* '' */
.ignitor-thick-up:before { content: '\e83b'; } /* '' */
.ignitor-flag:before { content: '\e83c'; } /* '' */
.ignitor-thumbs-up:before { content: '\e83d'; } /* '' */
.ignitor-thumbs-down:before { content: '\e83e'; } /* '' */
.ignitor-download:before { content: '\e83f'; } /* '' */
.ignitor-firefox:before { content: '\e840'; } /* '' */
.ignitor-chrome:before { content: '\e841'; } /* '' */
.ignitor-opera:before { content: '\e842'; } /* '' */
.ignitor-ie:before { content: '\e843'; } /* '' */
.ignitor-crown:before { content: '\e844'; } /* '' */
.ignitor-crown-plus:before { content: '\e845'; } /* '' */
.ignitor-crown-minus:before { content: '\e846'; } /* '' */
.ignitor-marquee:before { content: '\e847'; } /* '' */
.ignitor-upload:before { content: '\e848'; } /* '' */
.ignitor-upload-cloud:before { content: '\e849'; } /* '' */
.ignitor-reply:before { content: '\e84a'; } /* '' */
.ignitor-reply-all:before { content: '\e84b'; } /* '' */
.ignitor-forward:before { content: '\e84c'; } /* '' */
.ignitor-quote:before { content: '\e84d'; } /* '' */
.ignitor-code:before { content: '\e84e'; } /* '' */
.ignitor-export:before { content: '\e84f'; } /* '' */
.ignitor-pencil:before { content: '\e850'; } /* '' */
.ignitor-feather:before { content: '\e851'; } /* '' */
.ignitor-print:before { content: '\e852'; } /* '' */
.ignitor-retweet:before { content: '\e853'; } /* '' */
.ignitor-keyboard:before { content: '\e854'; } /* '' */
.ignitor-comment:before { content: '\e855'; } /* '' */
.ignitor-chat:before { content: '\e856'; } /* '' */
.ignitor-bell:before { content: '\e857'; } /* '' */
.ignitor-attention:before { content: '\e858'; } /* '' */
.ignitor-thick-down:before { content: '\e859'; } /* '' */
.ignitor-thick-left:before { content: '\e85a'; } /* '' */
.ignitor-umbrella:before { content: '\e85b'; } /* '' */
.ignitor-location:before { content: '\e85c'; } /* '' */
.ignitor-map:before { content: '\e85d'; } /* '' */
.ignitor-direction:before { content: '\e85e'; } /* '' */
.ignitor-compass:before { content: '\e85f'; } /* '' */
.ignitor-cup:before { content: '\e860'; } /* '' */
.ignitor-trash:before { content: '\e861'; } /* '' */
.ignitor-tower:before { content: '\e862'; } /* '' */
.ignitor-videocam:before { content: '\e863'; } /* '' */
.ignitor-ok:before { content: '\e864'; } /* '' */
.ignitor-trash-bin:before { content: '\e865'; } /* '' */
.ignitor-location-marker:before { content: '\e866'; } /* '' */
.ignitor-bullhorn:before { content: '\e867'; } /* '' */
.ignitor-volume-up:before { content: '\e868'; } /* '' */
.ignitor-volume-down:before { content: '\e869'; } /* '' */
.ignitor-folder:before { content: '\e86a'; } /* '' */
.ignitor-archive:before { content: '\e86b'; } /* '' */
.ignitor-box:before { content: '\e86c'; } /* '' */
.ignitor-rss:before { content: '\e86d'; } /* '' */
.ignitor-phone:before { content: '\e86e'; } /* '' */
.ignitor-cog:before { content: '\e86f'; } /* '' */
.ignitor-tools:before { content: '\e870'; } /* '' */
.ignitor-share:before { content: '\e871'; } /* '' */
.ignitor-volume-off:before { content: '\e872'; } /* '' */
.ignitor-basket:before { content: '\e873'; } /* '' */
.ignitor-bag:before { content: '\e874'; } /* '' */
.ignitor-award:before { content: '\e875'; } /* '' */
.ignitor-login:before { content: '\e876'; } /* '' */
.ignitor-logout:before { content: '\e877'; } /* '' */
.ignitor-mic:before { content: '\e878'; } /* '' */
.ignitor-mute:before { content: '\e879'; } /* '' */
.ignitor-sound:before { content: '\e87a'; } /* '' */
.ignitor-globe:before { content: '\e87b'; } /* '' */
.ignitor-clock:before { content: '\e87c'; } /* '' */
.ignitor-hourglass:before { content: '\e87d'; } /* '' */
.ignitor-lamp:before { content: '\e87e'; } /* '' */
.ignitor-light-down:before { content: '\e87f'; } /* '' */
.ignitor-light-up:before { content: '\e880'; } /* '' */
.ignitor-adjust:before { content: '\e881'; } /* '' */
.ignitor-block:before { content: '\e882'; } /* '' */
.ignitor-resize-full:before { content: '\e883'; } /* '' */
.ignitor-resize-small:before { content: '\e884'; } /* '' */
.ignitor-popup:before { content: '\e885'; } /* '' */
.ignitor-th:before { content: '\e886'; } /* '' */
.ignitor-youtube:before { content: '\e887'; } /* '' */
.ignitor-arrow-combo:before { content: '\e888'; } /* '' */
.ignitor-down-circled:before { content: '\e889'; } /* '' */
.ignitor-left-circled:before { content: '\e88a'; } /* '' */
.ignitor-right-circled:before { content: '\e88b'; } /* '' */
.ignitor-up-circled:before { content: '\e88c'; } /* '' */
.ignitor-down-open:before { content: '\e88d'; } /* '' */
.ignitor-left-open:before { content: '\e88e'; } /* '' */
.ignitor-right-open:before { content: '\e88f'; } /* '' */
.ignitor-up-open:before { content: '\e890'; } /* '' */
.ignitor-down-open-mini:before { content: '\e891'; } /* '' */
.ignitor-left-open-mini:before { content: '\e892'; } /* '' */
.ignitor-right-open-mini:before { content: '\e893'; } /* '' */
.ignitor-up-open-mini:before { content: '\e894'; } /* '' */
.ignitor-down-open-big:before { content: '\e895'; } /* '' */
.ignitor-left-open-big:before { content: '\e896'; } /* '' */
.ignitor-up-open-big:before { content: '\e898'; } /* '' */
.ignitor-down:before { content: '\e899'; } /* '' */
.ignitor-left:before { content: '\e89a'; } /* '' */
.ignitor-right:before { content: '\e89b'; } /* '' */
.ignitor-up:before { content: '\e89c'; } /* '' */
.ignitor-down-dir:before { content: '\e89d'; } /* '' */
.ignitor-left-dir:before { content: '\e89e'; } /* '' */
.ignitor-right-dir:before { content: '\e89f'; } /* '' */
.ignitor-up-dir:before { content: '\e8a0'; } /* '' */
.ignitor-stackoverflow:before { content: '\e8a1'; } /* '' */
.ignitor-angellist:before { content: '\e8a2'; } /* '' */
.ignitor-buffer:before { content: '\e8a3'; } /* '' */
.ignitor-bitbucket:before { content: '\e8a4'; } /* '' */
.ignitor-down-thin:before { content: '\e8a5'; } /* '' */
.ignitor-left-thin:before { content: '\e8a6'; } /* '' */
.ignitor-right-thin:before { content: '\e8a7'; } /* '' */
.ignitor-up-thin:before { content: '\e8a8'; } /* '' */
.ignitor-ccw:before { content: '\e8a9'; } /* '' */
.ignitor-cw:before { content: '\e8aa'; } /* '' */
.ignitor-arrows-ccw:before { content: '\e8ab'; } /* '' */
.ignitor-level-down:before { content: '\e8ac'; } /* '' */
.ignitor-level-up:before { content: '\e8ad'; } /* '' */
.ignitor-shuffle:before { content: '\e8ae'; } /* '' */
.ignitor-loop:before { content: '\e8af'; } /* '' */
.ignitor-switch:before { content: '\e8b0'; } /* '' */
.ignitor-play:before { content: '\e8b1'; } /* '' */
.ignitor-stop:before { content: '\e8b2'; } /* '' */
.ignitor-pause:before { content: '\e8b3'; } /* '' */
.ignitor-record:before { content: '\e8b4'; } /* '' */
.ignitor-to-end:before { content: '\e8b5'; } /* '' */
.ignitor-to-start:before { content: '\e8b6'; } /* '' */
.ignitor-fast-forward:before { content: '\e8b7'; } /* '' */
.ignitor-fast-backward:before { content: '\e8b8'; } /* '' */
.ignitor-wordpress:before { content: '\e8b9'; } /* '' */
.ignitor-progress-low:before { content: '\e8ba'; } /* '' */
.ignitor-progress-half:before { content: '\e8bb'; } /* '' */
.ignitor-progress-full:before { content: '\e8bc'; } /* '' */
.ignitor-target:before { content: '\e8bd'; } /* '' */
.ignitor-amazon:before { content: '\e8be'; } /* '' */
.ignitor-list:before { content: '\e8bf'; } /* '' */
.ignitor-html5:before { content: '\e8c0'; } /* '' */
.ignitor-wifi:before { content: '\e8c1'; } /* '' */
.ignitor-trophy:before { content: '\e8c2'; } /* '' */
.ignitor-battery:before { content: '\e8c3'; } /* '' */
.ignitor-back-in-time:before { content: '\e8c4'; } /* '' */
.ignitor-monitor:before { content: '\e8c5'; } /* '' */
.ignitor-mobile:before { content: '\e8c6'; } /* '' */
.ignitor-w3c:before { content: '\e8c7'; } /* '' */
.ignitor-calendar:before { content: '\e8c8'; } /* '' */
.ignitor-git:before { content: '\e8c9'; } /* '' */
.ignitor-headphones:before { content: '\e8ca'; } /* '' */
.ignitor-road:before { content: '\e8cb'; } /* '' */
.ignitor-briefcase:before { content: '\e8cc'; } /* '' */
.ignitor-indent-right:before { content: '\e8cd'; } /* '' */
.ignitor-flash:before { content: '\e8ce'; } /* '' */
.ignitor-moon:before { content: '\e8cf'; } /* '' */
.ignitor-plane:before { content: '\e8d0'; } /* '' */
.ignitor-paper-plane:before { content: '\e8d1'; } /* '' */
.ignitor-leaf:before { content: '\e8d2'; } /* '' */
.ignitor-indent-left:before { content: '\e8d3'; } /* '' */
.ignitor-credit-card-light:before { content: '\e8d4'; } /* '' */
.ignitor-suitcase:before { content: '\e8d6'; } /* '' */
.ignitor-dot:before { content: '\e8d7'; } /* '' */
.ignitor-dot-2:before { content: '\e8d8'; } /* '' */
.ignitor-dot-3:before { content: '\e8d9'; } /* '' */
.ignitor-brush:before { content: '\e8da'; } /* '' */
.ignitor-magnet:before { content: '\e8db'; } /* '' */
.ignitor-infinity:before { content: '\e8dc'; } /* '' */
.ignitor-erase:before { content: '\e8dd'; } /* '' */
.ignitor-chart-pie:before { content: '\e8de'; } /* '' */
.ignitor-chart-line:before { content: '\e8df'; } /* '' */
.ignitor-chart-bar:before { content: '\e8e0'; } /* '' */
.ignitor-chart-area:before { content: '\e8e1'; } /* '' */
.ignitor-magnet-link:before { content: '\e8e2'; } /* '' */
.ignitor-graduation-cap:before { content: '\e8e3'; } /* '' */
.ignitor-language:before { content: '\e8e4'; } /* '' */
.ignitor-ticket:before { content: '\e8e5'; } /* '' */
.ignitor-water:before { content: '\e8e6'; } /* '' */
.ignitor-droplet:before { content: '\e8e7'; } /* '' */
.ignitor-air:before { content: '\e8e8'; } /* '' */
.ignitor-credit-card:before { content: '\e8e9'; } /* '' */
.ignitor-floppy:before { content: '\e8ea'; } /* '' */
.ignitor-clipboard:before { content: '\e8eb'; } /* '' */
.ignitor-megaphone:before { content: '\e8ec'; } /* '' */
.ignitor-database:before { content: '\e8ed'; } /* '' */
.ignitor-drive:before { content: '\e8ee'; } /* '' */
.ignitor-bucket:before { content: '\e8ef'; } /* '' */
.ignitor-thermometer:before { content: '\e8f0'; } /* '' */
.ignitor-key:before { content: '\e8f1'; } /* '' */
.ignitor-flow-cascade:before { content: '\e8f2'; } /* '' */
.ignitor-flow-branch:before { content: '\e8f3'; } /* '' */
.ignitor-flow-tree:before { content: '\e8f4'; } /* '' */
.ignitor-flow-line:before { content: '\e8f5'; } /* '' */
.ignitor-flow-parallel:before { content: '\e8f6'; } /* '' */
.ignitor-rocket:before { content: '\e8f7'; } /* '' */
.ignitor-gauge:before { content: '\e8f8'; } /* '' */
.ignitor-traffic-cone:before { content: '\e8f9'; } /* '' */
.ignitor-gift:before { content: '\e8fa'; } /* '' */
.ignitor-braille:before { content: '\e8fb'; } /* '' */
.ignitor-flight:before { content: '\e8fc'; } /* '' */
.ignitor-signal:before { content: '\e8fd'; } /* '' */
.ignitor-qrcode:before { content: '\e8fe'; } /* '' */
.ignitor-barcode:before { content: '\e8ff'; } /* '' */
.ignitor-diamond:before { content: '\e900'; } /* '' */
.ignitor-shop:before { content: '\e901'; } /* '' */
.ignitor-money:before { content: '\e902'; } /* '' */
.ignitor-truck:before { content: '\e903'; } /* '' */
.ignitor-setting:before { content: '\e904'; } /* '' */
.ignitor-database-light:before { content: '\e905'; } /* '' */
.ignitor-progress-0:before { content: '\e906'; } /* '' */
.ignitor-progress-1:before { content: '\e907'; } /* '' */
.ignitor-progress-2:before { content: '\e908'; } /* '' */
.ignitor-progress-3:before { content: '\e909'; } /* '' */
.ignitor-progress-4:before { content: '\e90a'; } /* '' */
.ignitor-progress-5:before { content: '\e90b'; } /* '' */
.ignitor-progress-6:before { content: '\e90c'; } /* '' */
.ignitor-progress-7:before { content: '\e90d'; } /* '' */
.ignitor-terminal:before { content: '\e90e'; } /* '' */
.ignitor-ok-circle:before { content: '\e90f'; } /* '' */
.ignitor-github:before { content: '\f300'; } /* '' */
.ignitor-github-circled:before { content: '\f301'; } /* '' */
.ignitor-flickr:before { content: '\f303'; } /* '' */
.ignitor-flickr-circled:before { content: '\f304'; } /* '' */
.ignitor-vimeo:before { content: '\f306'; } /* '' */
.ignitor-vimeo-circled:before { content: '\f307'; } /* '' */
.ignitor-twitter:before { content: '\f309'; } /* '' */
.ignitor-twitter-circled:before { content: '\f30a'; } /* '' */
.ignitor-facebook:before { content: '\f30c'; } /* '' */
.ignitor-facebook-circled:before { content: '\f30d'; } /* '' */
.ignitor-facebook-squared:before { content: '\f30e'; } /* '' */
.ignitor-gplus:before { content: '\f30f'; } /* '' */
.ignitor-pinterest:before { content: '\f312'; } /* '' */
.ignitor-pinterest-circled:before { content: '\f313'; } /* '' */
.ignitor-linkedin:before { content: '\f318'; } /* '' */
.ignitor-linkedin-circled:before { content: '\f319'; } /* '' */
.ignitor-dribbble:before { content: '\f31b'; } /* '' */
.ignitor-windows:before { content: '\f325'; } /* '' */
.ignitor-instagram:before { content: '\f32d'; } /* '' */
.ignitor-dropbox:before { content: '\f330'; } /* '' */
.ignitor-skype:before { content: '\f339'; } /* '' */
.ignitor-skype-circled:before { content: '\f33a'; } /* '' */
.ignitor-picasa:before { content: '\f345'; } /* '' */
.ignitor-soundcloud:before { content: '\f348'; } /* '' */
.ignitor-behance:before { content: '\f34e'; } /* '' */
.ignitor-google-circles:before { content: '\f351'; } /* '' */
.ignitor-vkontakte:before { content: '\f354'; } /* '' */